numpy
pandas==1.5.3
xarray
xgboost
ocf_datapipes==3.3.24
nowcasting_datamodel==1.5.41
pydantic==2.5.3
pathy==0.10.3
scikit-learn
matplotlib
geopandas
pvlib
shapely
requests
torchvision==0.17.2
torchdata==0.6.0
pytest
flake8
black
boto3
s3fs
testcontainers
psutil
ocf-ml-metrics
